<%- include('../partials/header') %> 
    <ul class="list-group">
    <% games.forEach(game => { %>
        <li class="list-group-item list-group-item-action"><a class="list-group-item-action" href="games/<%= game.gameId %>"><%= game.name %></a></li>
    <% }) %>
</ul>
<%- include('../partials/footer') %>