<%- include('../partials/header') %> 
    <ul>
    <% games.forEach(game => { %>
        <li><a href="games/<%= game.gameId %>"><%= game.name %></a></li>
    <% }) %>
</ul>
<%- include('../partials/footer') %>