<%- include('../partials/header') %> 
    <form class="form-control" id="search" method="GET" action="/games/search/">
      <input type="search" name="q" />
      <button class="btn btn-dark" type="submit">Search</button>
    </form>
    <ul class="list-group">
      <% games.forEach(game => { %>
      <li class="list-group-item list-group-item-action"><a class="list-group-item-action"href="/games/<%= game.id %>"><%= game.name %></a></li>
      <% }) %>
    </ul>
<%- include('../partials/footer') %>