<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAMES</title>
  </head>
  <body>
    <h1>Search For Games</h1>
    <form id="search" method="GET" action="/games/search/">
      <input type="search" name="q" />
      <button type="submit">Search</button>
    </form>
    <ul>
      <% games.forEach(game => { %>
      <li><a href="/games/<%= game.id %>"><%= game.name %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
