<%- include('../partials/header') %> 
    <form id="search" method="GET" action="/games/search/">
      <input type="search" name="q" />
      <button type="submit">Search</button>
    </form>
    <ul>
      <% games.forEach(game => { %>
      <li><a href="/games/<%= game.id %>"><%= game.name %></a></li>
      <% }) %>
    </ul>
<%- include('../partials/footer') %>